:root{
    --primary: #2190A4;
    --secondary: #5DCF71;
    --tertiary: #54595F;
    --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E;
    --background:#E6F9FD;
    --text:#505763;
    --titleClinic:#2190A4;
}
/* sobrescrevendo classes padrão do Bootstrap */
/* a marcação !important dá um peso maior a regra, sobrescrevendo regras prévias */

.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
}
.bg-tertiary, .btn-tertiary{
    background-color: var(--tertiary) !important;
}
.bg-success, .btn-success{
    background-color: var(--success) !important;
}
.bg-info, .btn-info{
    background-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}
.bg-danger .btn-danger{
    background-color: var(--danger) !important;
}
.nav-link {
    color: var(--primary) !important ;
}
.nav-link:hover{
    color: var(--warning) !important ;
}

.text-white{
    color: #fff !important;
}


/*BOTOES*/

.btn-secondary{
    background-color: var(--secondary) !important;
    border: none;
}

/*LINKS*/
.link-light:hover{
    color: var(--secondary) !important;
}
/*Paddiing*/
.pt-6 {
    padding-top: 50px;
}
.pt-7 {
    padding-top: 100px;
}
