<!--FOOTER-->
<footer class="container-fluid bg-tertiary pt-7">
    <div
        class="row mb-4 text-white justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="footer-text pull-left">
                <div class="d-flex">
                    <a href="index.html"><img
                            src="resources/img/veterinaria.png"
                            width="100" alt></a>
                </div>
                <p class="card-text">A Clínica Veterinária Senac Sul é
                    dedicada ao bem-estar dos animais de estimação.
                    Nossos veterinários altamente qualificados e equipe
                    experiente estão prontos para cuidar do seu amado
                    animal de estimação.</p>
            </div>
        </div>
        <div class="col-md-2">
            <h5 class="heading">Serviços</h5>
            <ul class="card-text">
                <li><a class="text-decoration-none link-light" href>Consultoria
                        Veterinária</a></li>
                <li><a class="text-decoration-none link-light" href>Exames
                        de Laboratório</a></li>
                <li><a class="text-decoration-none link-light" href>Tratamento
                        de Doenças</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5 class="heading">Especialidades</h5>
            <ul class="card-text">
                <li><a class="text-decoration-none link-light" href>Tratamento
                        de Emergência</a></li>
                <li><a class="text-decoration-none link-light" href>Cuidados
                        Preventivos</a></li>
                <li><a class="text-decoration-none link-light" href>Animais
                        de Pequeno Porte</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5 class="heading">Empresa</h5>
            <ul class="card-text">
                <li><a class="text-decoration-none link-light" href>Sobre
                        Nós</a></li>
                <li><a class="text-decoration-none link-light" href>Contato</a></li>
                <li><a class="text-decoration-none link-light" href>Carreiras</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center text-white">&copy;Todos os Direitos Reservados
        - 2023</p>
</footer>