<!-- footer.html -->
<footer class="container-fluid bg-tertiary p-4">
    <div class="row mb-4 text-white justify-content-center">
        <div class="col-md-4">
            <div class="footer-text pull-left">
                <div class="d-flex">
                    <a href="index.html"><img src="resources/img/veterinaria.png" width="100" alt=""></a>
                </div>
                <p class="card-text">A Clinica Veterinária Senac Sul é dedicada ao bem-estar dos animais de estimação. Nossos veterinários altamente qualificados e equipe experiente estão prontos para cuidar do seu amado animal de estimação.</p>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <h5 class="heading">Serviços</h5>
            <ul>
                <li><a class="text-decoration-none" href="">Consultoria Veterinária</a></li>
                <li>Exames de Laboratório</li>
                <li>Tratamento de Doenças</li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <h5 class="heading">Especialidades</h5>
            <ul class="card-text">
                <li>Tratamento de Emergência</li>
                <li>Cuidados Preventivos</li>
                <li>Animais de Pequeno Porte</li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <h5 class="heading">Empresa</h5>
            <ul class="card-text">
                <li>Sobre Nós</li>
                <li>Contato</li>
                <li>Carreiras</li>
            </ul>
        </div>
    </div>
    <div class="divider mb-4"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="pull-left">
                <p><i class="fa fa-copyright"></i> 2023 Clinica Veterinária Senac Sul</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right mr-4 d-flex policy">
                <div>Termos de Uso</div>
                <div>Política de Privacidade</div>
                <div>Política de Cookies</div>
            </div>
        </div>
    </div>

    <p class="text-center text-white">Todos os Direitos Reservados - 2023</p>
</footer>