<!-- header.html -->
<header>
    <nav class="navbar navbar-expand-lg bg-primary text-white">
        <div class="container">
            <a class="navbar-brand" href=""><img
                    src="../resources/img/veterinaria.png"
                    width="100" height="100" alt></a>

            <button class="navbar-toggler btn btn-primary" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img class="custom-svg" src="resources/img/svg/list.svg" alt="Descrição do ícone">
                </span>
            </button>

            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-link text-white">Informações</a>
                    <a href="#" class="nav-link text-white">Dicas</a>
                    <a href="#" class="nav-link text-white">Sobre</a>
                </div>
                <div class="d-flex">
                    <a class="btn btn-secondary" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-user">
                            <path
                                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle
                                    cx="12" cy="7" r="4"></circle>
                        </svg>
                        Login
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>